body{
border:2px solid black;
background-image:url('w2.jpg')
}

div{

text-align:center;

background-color:orange;
margin:auto;
margin-top:25vh;
border:2px solid black;
height:20vh;
width:50vw;
font-size:3vh;
box-shadow:15px 15px 15px 5px black;
padding:10px;
}
A{
FONT-SIZE:3VH;
}


